* {
	box-sizing: border-box;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

:root {
	--ff-header: 'Inconsolata', monospace;
	--ff-primary: "Poppins", sans-serif;
	--ff-secondary: 'Space Mono', monospace;

	--fw-bold: 700;
	--fw-reg: 400;

	--clr-main: #333333;
	--clr-primary: #4F4F4F;

	--fs-header: 1.5rem;
	--fs-title: 3rem;
	--fs-text: 1.125rem;
	--fs-btn: .87rem;

	--lh: 1.68rem;

	--width-box: 80%;
	--width-title: 100%;
	--width-text: 100%;

	/*need to add new for spacing*/
}



/*--- Typography ---*/

.header-text {
	font-family: var(--ff-header);
	font-size: var(--fs-header);
	font-weight: var(--fw-bold);
	text-transform: uppercase;
	margin-bottom: 1em;
}

.info__title {
	font-family: var(--ff-secondary);
	font-size: var(--fs-title);
	font-weight: var(--fw-bold);
	letter-spacing: 0.035em;
	margin-bottom: 0;
	margin-top: 1em;
}

.info__text {
	font-family: var(--ff-secondary);
	font-size: var(--fs-text);
	font-weight: var(--fw-reg);
	line-height: var(--lh);
	letter-spacing: 0.035em;
	color: var(--clr-primary);
	margin: 2.5em 0;
	padding: 1em 0;
}

.info__button {
	font-family: var(--ff-secondary);
	font-size: var(--fs-btn);
	text-transform: uppercase;
}

/*--- Layout ---*/

.wrapper {
	max-width: 90%;
	margin: 1em auto;
}

main {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 5rem;
}

.image-area,
.info {
	max-width: 100%;
	/* border: 1px solid red; */
}

.info {
	margin-top: .5em;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
}



.info__button {
	background-color: var(--clr-main);
	color: #fff;
	padding: 2em 1em;
	outline: none;
	border: none;
	width: 200px;
}

.info__button:hover,
.info__button:focus {
	background-color: var(--clr-primary)
}

footer {
	margin-top: 10em;
	text-align: center;
	color: #4F4F4F;
}