* {
	box-sizing: border-box;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

:root {
	--ff-header: 'Inconsolata', monospace;
	--ff-primary: "Poppins", sans-serif;
	--ff-secondary: 'Space Mono', monospace;

	--fw-bold: 700;
	--fw-reg: 400;

	--clr-main: #333333;
	--clr-primary: #4F4F4F;

	--fs-header: 1.5rem;
	--fs-title: 3rem;
	--fs-text: 1.125rem;
	--fs-btn: .87rem;

	--lh: 1.68rem;

	--width-box: 80%;
	--width-title: 100%;
	--width-text: 100%;

	--marg-title: 1em;
	/*need to add new for spacing*/
}



/*--- Typography ---*/

.header-text {
	font-family: var(--ff-header);
	font-size: var(--fs-header);
	font-weight: var(--fw-bold);
	text-transform: uppercase;
	margin-bottom: 1em;
}

.info__title {
	font-family: var(--ff-secondary);
	font-size: var(--fs-title);
	font-weight: var(--fw-bold);
	letter-spacing: 0.035em;
	margin-bottom: 0;
	margin-top: var(--marg-title);
}

.info__text {
	font-family: var(--ff-secondary);
	font-size: var(--fs-text);
	font-weight: var(--fw-reg);
	line-height: var(--lh);
	letter-spacing: 0.035em;
	color: var(--clr-primary);
	margin: 2.5em 0;
	padding: 1em 0;
}

.info__button {
	font-family: var(--ff-secondary);
	font-size: var(--fs-btn);
	text-transform: uppercase;
}

/*--- Layout ---*/

.wrapper {
	max-width: 90%;
	margin: 1em auto;
}

main {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 5rem;

}

.image-area,
.info {
	max-width: 100%;
}

.image-area {
	padding: 2em;
}

.info {
	margin-top: .5em;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
}



.info__button {
	background-color: var(--clr-main);
	color: #fff;
	padding: 2em 1em;
	outline: none;
	border: none;
	width: 200px;
}

.info__button:hover,
.info__button:focus {
	background-color: var(--clr-primary)
}

footer {
	margin-top: 5em;
	text-align: center;
	color: var(--clr-primary);
	display: block;
	max-width: 100%;
}

.footer__link {
	font-weight: bold;
	text-decoration: none;
	color: var(--clr-primary);
}

.footer__link:focus,
.footer__link:visited {
	text-decoration: none;
	color: var(--clr-primary);
}

@media (min-width: 800px) {
	:root {
		--fs-header: 1.5rem;
		--fs-text: 1.5rem;
		--fs-btn: .87rem;
		--lh: 2rem;
		--marg-title: 0;
	}

	main {
		max-width: 100%;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: flex-start;
	}

	.info {
		max-width: 40%;
	}

	.image-area {
		max-width: 55%;
		padding: 2.7em;
	}

	/* footer {
		flex-grow: 3;
		justify-self: center;
		align-self: center;
		text-align: center;
		;
	} */


}